body {
  font-family: sans-serif;
  padding: 20px;
  width: 50%;
}

h1 {
  text-decoration: underline;
}

input:invalid {
  border: 1px solid red;
}

.validation-error::after, input[type="text"]::after {
  content: 'please enter a valid username';
  float: right;
  width: 290px;
  color: red;
  font-size: 18px;
}

select, input[type="text"] {
  padding: 10px;
  margin: 5px 0;
}

input[type="text"] {
  width: 90%;
}

.closed-header {
  border: 1px solid darkgrey;
  padding: 10px;
  width: 90%;
  margin: 5px 0 0;
  background: white;
}

.closed-header .drop {
  background: url('../styles/form-elements-sprite.png');
  background-position: -197px -45px;
  background-size: 258px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  float: right;
}

.dropdown-header {
  border: 1px solid darkgrey;
  padding: 10px;
  width: 90%;
  margin: 5px 0 0;
  background: white;
}

.dropdown-header .drop {
  background: url('../styles/form-elements-sprite.png');
  background-position: -197px -45px;
  background-size: 258px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  float: right;
}

.dropdown-header .drop.up {
  background-position: -177px -45px;
}

.option {
  border: 1px solid #lightgrey;
  padding: 10px;
  margin-top: -1px;
  width: 90%;
}

.option:nth-child(odd) {
  background: dimgrey;
}

.option:nth-child(even) {
  background: lightgrey;
}

.dropdown-style {
  display: none;
}

.item {
  margin: 40px 0;
}

.dropdown-style {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}

.dropdown-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.dropdown-style select:focus {
  outline: none;
}

input[type="checkbox"], input[type="radio"] {
  display: none;
}

input[type="checkbox"]+label span {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url('../styles/form-elements-sprite.png');
  background-position: -43px -65px;
  background-size: 400px;
}

input[type="checkbox"]:checked+label span {
  background-position: -104px -65px;
}

input[type="radio"]+label span {
  display: inline-block;
  width: 47px;
  height: 48px;
  background: url('../styles/form-elements-sprite.png');
  background-position: -160px -65px;
  background-size: 400px;
  border-radius: 24px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 1px;
  background-color: lightgrey;
  color: dimgrey;
}

button#dark {
  color: white;
  background-color: dimgrey;
}
